{% for category in site.data.data.skill_categories %}
  <section class="skills-section section">
    <h2 class="section-title">{{ category.category_title }}</h2>
    {% for skills in category.skills %}
      <h3>{{ skills.title }}</h3>
      <div class="skillset">
        {% for skill in skills.toolset %}
          <div class="item">
            <h4 class="level-title">{{ skill.name }}</h4>
            <div class="level-bar">
              <div class="level-bar-inner" data-level="{{ skill.level }}"></div>
            </div><!--//level-bar-->
          </div><!--//item-->
        {% endfor %}
      </div>
    {% endfor %}
  </section><!--//skills-section-->
{% endfor %}
